<div class="footer container-fluid">
    <div class="container">
    <div class="reserved-top">
        
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 mr-t">
            <div class="caixa-img-footer">
                <img src="assets/images/logo/footer_logo_sp18.svg" class="img-responsive" 
                alt=""  width="100%" height="auto">
                <p class="text-center">Social 2.0</p>
            </div>
        </div>
        <div class="clo-log-3 text-center" style='font-size:24px;'>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
            <h3 class="widget widget-storelocation jumbotron">find a store near you</h3>
        </div>
        <div class="col-lg-2">
            <ul>
                <li><a class="li-title" href="#">Contact Us</a></li>
                <li><a class="li-text" href="#"><i class="fa fa-comments" aria-hidden="true"></i>
                    feedback</a></li>
                <li><a class="li-text" href="#"> <i class="fa fa-phone" aria-hidden="true"></i>
                    1800 266 2255</a></li>
                <li><a class="li-text" href="#"> all days | 9am to 10pm</a></li>
                <li><a class="li-text" href="#"> <i class="fa fa-envelope" aria-hidden="true"></i>
                    care@fbbonline.in</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <li><a class="li-title" href="#">Shopping Guide</a></li>
                <li><a class="li-text" routerLink="/trackorder">track orders</a></li>
                <li><a class="li-text" href="#">returns</a></li>
                <li><a class="li-text" href="#">faq</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <li><a class="li-title" href="#">Information</a></li>
                <li><a class="li-text" href="#"> Facebook</a></li>
                <li><a class="li-text" href="#"> Instagram</a></li>
                <li><a class="li-text" href="#"> Email</a></li>
                <li><a class="li-text" href="#"> Whatsapp</a></li>
            </ul>
        </div>
    </div>
    <div class="reserved-bot">
        <p class="text-center">© 2019 fbb. All Rights Reserved.</p>
    </div>
</div>
</div>