<div class="wrapper">
    
<nav id="sidebar"> 
    <ul class="list-unstyled components" style="position: sticky;">
        <p>Filtered by</p>
        <hr><hr>
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Fit</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="#">loose</a></li>
                <li><a href="#">Regular</a></li>
                <li><a href="#">Relaxed</a></li>
                <li><a href="#">Skinny</a></li>    
                <li><a href="#">Slim</a></li>  
                <li><a href="#">Stright</a></li>                                          
            </ul>
          </li>
        <li class="active">
            <a href="#size" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Size</a>
            <ul class="collapse list-unstyled" id="size">
                <li><a href="#">XS</a></li>
                <li><a href="#">X</a></li>
                <li><a href="#">M</a></li>
                <li><a href="#">L</a></li>    
                <li><a href="#">XL</a></li>  
                <li><a href="#">XXl</a></li>                                          
            </ul>
        </li>
        <li class="active"> 
            <a href="#Categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
            <ul class="collapse list-unstyled" id="Categories">
                <li><a href="#">Blouse</a></li>
                <li><a href="#">Capes</a></li>
                <li><a href="#">Churidar</a></li>
                <li><a href="#">Culootes</a></li>    
                <li><a href="#">Dresses</a></li>  
                <li><a href="#">Duppata</a></li>                                          
                <li><a href="#">Ethic Sets</a></li>                                          
                <li><a href="#">Jacktes</a></li>                                          
                <li><a href="#">Kurta</a></li>                                          
                <li><a href="#">Kurti</a></li>                                          
                <li><a href="#">Leggines</a></li>                                          
                <li><a href="#">Palazzos</a></li>                                          
                <li><a href="#">Pants </a></li>                                          
                <li><a href="#">Patialas</a></li>                                          
                <li><a href="#">Salwar</a></li>                                          
                <li><a href="#">Shirts</a></li>                                          
                <li><a href="#">Shrugs</a></li>                                          
                <li><a href="#"> Skirts</a></li>                                          
                <li><a href="#">Stoles</a></li>                                          
                <li><a href="#">Suit Sets</a></li>                                          
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Fabrics</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="#">Acrylic</a></li>
                <li><a href="#"> Blended</a></li>
                <li><a href="#">Brocade</a></li>
                <li><a href="#">Cambric</a></li>
                <li><a href="#">Chanderi</a></li>
                <li><a href="#"> Chiffon</a></li>
                <li><a href="#">Cotton</a></li>
                <li><a href="#">Denim</a></li>
                <li><a href="#"> Georgette</a></li>
                <li><a href="#">Linen</a></li>
                <li><a href="#">Net</a></li>
                <li><a href="#">Nylon</a></li>
                <li><a href="#">Poly Cotten</a></li>
                <li><a href="#"> Rayon</a></li>
                <li><a href="#"> Silk</a></li>
                <li><a href="#">Velvet</a></li>
                <li><a href="#">Viscose</a></li>
                <li><a href="#">Voile</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
</div>
