<div class="row">
    <div class="col-md-4" *ngFor="let sports of sportsearDetailes;">
        <div class="card" >
            <a href="">
                <img class="card-img-top" 
                src="assets/images/women/sportswear/{{sports?.image}}"
                 alt="Card image cap">   
            </a>
            <div class="card-body text-center">
                <h5 class="text-center">{{sports?.status}}</h5>
              <p class="card-title"><i class="fa fa-inr" aria-hidden="true"></i>
                {{sports?.price}}</p>
              <p class="card-text">{{sports?.type}}</p>
            </div>
          </div>
    </div>

</div>