<div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg fixed-top shadow-sm bg-white col-sm-12">
          <ul class="navbar-nav">     
            <li><a class="navbar-brand" href="#">
              <img src="assets/images/logo/fbb_logo.svg" alt="logo" width="100px" height="auto">
               </a>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#"  data-toggle="dropdown">WOMEN</a>
                <div class="dropdown-menu">
                  <ul>
                    <a class="dropdown-item" routerLink="/women/ethicfushionwear">ETHIC AND FASHION WEAR</a>
                    <a class="dropdown-item" routerLink="/women/westernwear">WESTERN-WEAR</a>
                    <a class="dropdown-item" routerLink="/women/accessories">ACCESSORIES</a>
                    <a class="dropdown-item" routerLink="/women/sportswear">SPORTS-WEAR</a>
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle"  data-toggle="dropdown">MAN</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/man/manethicwear">ETHICWEAR</a>
                  <a class="dropdown-item" routerLink="/man/manwessternwear">WESTERNWEAR</a>
                  <a class="dropdown-item" routerLink="/man/mansportswear">SPORTSWEAR</a>
                  <a class="dropdown-item" routerLink="/man/manaccessories">ASSESIORIES</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" >KIDS</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/kids/girls">GIRLS</a>
                  <a class="dropdown-item" routerLink="/kids/boys">BOYS</a>
                  <a class="dropdown-item" routerLink="/kids/infants">INFANTS</a>
                </div>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="" >SALE</a>
              </li>              
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/signin">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/signup">Register</a>
                  </li>
                  <li>
                  <form class="form1"> 
                    <input type="text" placeholder="Serch..." >
                    <a class="button-Serch"></a>
                  </form>
                  </li>
               </ul>
           </div>
          </nav>
  </div>

</div>

