<div class="row">
<div class="col-md-4" *ngFor="let women of womenesternwearproducts;">
    <div class="card" >
        <a href="">
            <img class="card-img-top" 
            src="assets/images/women/western-wear/{{women?.image}}"
       alt="Shopping cart images ">   
        </a>
        <div class="card-body text-center">
            <h5 class="text-center">{{women?.status}}</h5>
          <p class="card-title"><i class="fa fa-inr" aria-hidden="true"></i>
            {{women?.price}}</p>
          <p class="card-text">{{women?.type}}</p>
        </div>
      </div>
</div>
</div>