<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/slider/slider-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider/slider-2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider/slider-3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/slider/slider-3.jpg" class="d-block w-100" alt="...">
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--trends now trends abhi-->
  <div class="container">
    <h3 class="text-center">TRENDS NOW TRENDS ABHi</h3>
    <div class="row">
        <div class="col-sm-4">
            <a href=""><img src="assets/images/trend-abhi/abhi-1.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/trend-abhi/abhi-2.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/trend-abhi/abhi-3.jpg" width="100%" height="auto"></a>
        </div>
    </div>
</div>
<!-- choose your size-->
<div class="container">
    <div class="row">
        <div class="col-sm-12 sizewise">
            <img src="assets/images/sizewise/sizewise_desk.jpg" width="100%" height="auto">
        </div>
    </div> 
    <h3 class="sizewise text-center">CHOOSE YOUR SIZE</h3>
    <div class="row ">
        <div class="col-sm-2">
            <a href=""><img src="assets/images/sizewise/XS.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/sizewise/S.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/sizewise/M.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/sizewise/L.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/sizewise/XL.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/sizewise/XXL.png" width="100%" height="auto"></a>
        </div>        
    </div>
</div>
<!-- shop by hues-->
<div class="container">
    <h3 class="text-center">SHOP BY HUES</h3>
    <div class="row">
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-buy-hues/BEAT-THE-BLUES.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-buy-hues/RED.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-buy-hues/THINK-PINK.jpg" width="100%" height="auto"></a>
        </div>
    </div>
</div>
<!--shop by trends-->
<div class="container">
    <h3 class="text-center">SHOP BY TRENDS</h3>
    <div class="row">
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-by-trends/CHECKRED-PRINTS.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-by-trends/FLORAL-PRINTS.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-by-trends/GRAPHIC-PRINTS.jpg" width="100%" height="auto"></a>
        </div>
    </div>
</div>
<!--shop by looks-->
<div class="container">
    <h3 class="text-center">SHOP BY LOOKS</h3>
    <div class="row">
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-by-looks/DATE LOOKS.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-by-looks/Ethnic-Looks.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-by-looks/GYMLOOKS.jpg" width="100%" height="auto"></a>
        </div>
    </div>
 
</div>
<!--shop by price-->
<div class="container">
    <h3 class="text-center">SHOP BY PRICE</h3>
    <div class="row">
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-by-price/EVERYTHING-UNDER-299.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-by-price/EVERYTHING-UNDER-499.jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-4">
            <a href=""><img src="assets/images/shop-by-price/EVERYTHING-UNDER-699.jpg" width="100%" height="auto"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 sizewise">
            <img src="assets/images/shop-by-price/offer.jpg" width="100%" height="auto">
        </div>
    </div>     
</div>
<!--brands in focus-->
<div class="container">
    <h3 class="text-center">BRANDS ON FOCUS</h3>
    <div class="row">
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/ateesa_v1.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/Buffalonew.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/champion_v1.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/disney_v1.png" width="100%" height="auto"></a>
        </div>       
         <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/dj&c_v1.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/hey_v2.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/knighthood_v1.png" width="100%" height="auto"></a>
        </div>   
             <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/morpankh_v1.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/navras_v1.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/pink&blue_v2.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/srishti_v1.png" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-2">
            <a href=""><img src="assets/images/brands-on-focus/spunk_v1.png" width="100%" height="auto"></a>
        </div>
    </div>
</div>
<!--new arrivals-->
<div class="container">
    <h3 class="text-center">NEW ARRIVALS</h3>
    <div class="row">
        <div class="col-sm-3">
            <a href=""><img src="assets/images/new-arrivalas/1-zoom (1).jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-3">
            <a href=""><img src="assets/images/new-arrivalas/1-zoom (2).jpg" width="100%" height="auto"></a>
        </div>
        <div class="col-sm-3">
            <a href=""><img src="assets/images/new-arrivalas/1-zoom (3).jpg" width="100%" height="auto"></a>
        </div> 
       <div class="col-sm-3">
            <a href=""><img src="assets/images/new-arrivalas/1-zoom (4).jpg" width="100%" height="auto"></a>
        </div>
    </div>
 
</div>
